.dropzone {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    align-items: center;
    margin: 2em;
    padding: 20px;
    border-width: 2;
    border-radius: 2;
    border-color: #eeeeee;
    border-style: dashed;
    background-color: #fafafa;
    color: #bdbdbd;
    outline: none;
    transition: border .24s ease-in-out;
}

.dropzone:hover {
    border-color: #2196f3;
}

.hero {
    background-color: #e4d1e4;
}

body {
    background-color: #F4ECF4 !important;
}

.top-header {
    padding-top: 1em !important;
}

.unselectable {
    user-select: none;
}

.hide {
    display: none;
}

.unselectable:hover + .hide {
    display: inline-block;
}